body {
    background: rgb(255, 255, 255);
  }
  
  header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2.5rem;
  }
  
  .logo {
    font-size: 34px;
    line-height: 50px;
    text-align: left;
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  
  .site-nav {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-right: 38%;
  }
  
  ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  ul:hover li:not(:hover) a {
    opacity: 0.2;
  }
  ul li {
    position: relative;
    padding: 30px 25px 30px 25px;
    cursor: pointer;
  }
  ul li::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background: #3498db;
    transform: scaleX(0);
    transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  ul li:hover::after, ul li.active::after {
    transform: scaleX(1);
  }
  ul li a {
    position: relative;
    display: flex;
    color: rgb(255, 255, 255);
    font-family: Lato, sans-serif;
    text-decoration: none;
    transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  p{
      color: white;
      text-align: justify;
  }

  h1{
    color: white;
  }

  aside{
    float: left;
    display: inline;
    width: 30%;
    margin-left: 3%;
  }

  section{
    width: 60%;
    float: right;
    display: block;
    margin-right: 3%;
  }

  footer{
    display: block;
    clear:  both;

  }

  #imagen{
    width: 100%;
    border-radius: 5px;
  }

  #section2{
    padding-top: 3%;
    margin: 0% 3%;
    clear: both;
    
  }

  h2{
    color: white;
  }

  #lista li{
    color: white;
  }

  ol{
    list-style: circle;
  }


  h3{
    margin-left: 15px;
    color: white;
    font-size: 30px;
  }

  hr{
    clear: both;
    border: dashed rgb(255, 255, 255,0.5) 1px;
  }

  iframe{
    width: 80%;
    height: 500px;
    margin: 10px 10%;
  }

  #escenario{
    width: 70%;
    margin: 5px 15%;
    border-radius: 10px;
  }

  #titulo{
    
    
  }


   #cajas{
    width: 100%;
    border-top: gray dashed 1px;
    margin: 15px auto;
  }
  figure{
    float: left;
    margin-right: auto;
  }
  .tacticas{
    width: 150px;
    height: 150px;
  }
  figure img{
    padding: 4px;
    background-color: gray;
    border-radius: 20px;
    transition: ease-in-out 0.1s;
    box-shadow: rgb(190, 188, 188) 5px 5px 13px;
  }
  figure img:hover{
    transform: scale(1.1);
  }
  figcaption{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    text-align: left;
    margin-top: 5px;
    color: white;
  }
  footer{
    clear: both;
    padding-top: 100px;
  }
  footer small{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    color: rgb(255, 255, 255);
  }